[Desktop Entry]
Version=1.0
Name=MinaFox
Comment=Standalone MinaFox browser wrapper for Mina
GenericName=Web Browser
Exec=minafox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=minafox
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=MinaFox
